/*mixin*/
@mixin Titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-shadow: 0px 20px 7px black ;
}

/*variables*/
$colores: (
    "negro" : black,
    "blanco": white,
    );
/*Home*/
body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    background-color: rgb(78, 40, 40);
    height: 80px;
    width: 100%;
    text-decoration: none;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #3a3a3a;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.call{
    color: map-get($colores , "blanco" );
    float: left;
    border: 3px solid #f5e1ce;
    padding: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 35px;
    background-color: rgba(110, 62, 62, 0.411);
    flex-basis: 0;
    flex-grow: 999;
    min-width: 30%;
}

h1{
    color: map-get($colores , "blanco" );
    margin-bottom: 19px;
    text-align: center;
}


footer{
    text-align: center;
    font-size: 15px;
    background-color: rgb(78, 40, 40);
    width: 100%;
    margin-top: auto;

}
footer p{
    margin-bottom: 0;
}
footer i{
    font-size: 20px;
    color: map-get($colores , "negro" );
    letter-spacing: 0px;
}

.slide img{
    height: 70vh;
}
.sec1{
    text-align: center;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color:#d4b596;
}

.sec2{
    text-align: center;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #000000;
}
main{
    background-image: url(/img/background-2068215_1280.jpg);
}



/*Servicios*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
    color: map-get($colores , "blanco" );
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #000000;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #000000;
	font-size: 14px;
	margin-bottom: 5px;
}
/*Productos*/
.titulo{
    color: map-get($colores , "blanco" );
}
.subtitulo{
    color: rgb(185, 99, 99);
}

.card-text{
    color: #000000;
}
.col{
    background-color: rgb(78, 40, 40);
    margin: 0;
}

/*Barra de busqueda*/
.buscar{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;;
    top: 20%;
    padding: 10px
}

.input-1{
outline: none;
box-sizing: border-box;
height: 60px;
width: 0;
padding: 0 20px;
color: map-get($colores , "negro" );
border-radius: 50px;
font-size: 20px;
border: 1px solid #e6bf98;
transition: all .7s ease;
}
::pacholder{
    color: rgb(0, 0, 0);
}
.buscador{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #251f19;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.buscador i{
    font-size: 25px;
    color:  map-get($colores , "blanco" );
    line-height: 80px;
    transition: all .7s ease;
}
.buscar:hover input {
    width: 350px;
}
.buscador:hover i {
    transform: rotate(-360deg);
}
.buscar:hover{
    background: #2c251e;
}
/*Contacto*/

.mapagoogle{
    height: 500x;
    color:  map-get($colores , "blanco" );
    width:  60%;
    border: 6px solid #997a5d;
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1f0f00bb;
}


/*Registrarse*/



.container-registrarse{
    text-align: center;
    height: 235px;
    color:  map-get($colores , "blanco" );
    width:40%;
    float: r;
    border: 3px solid #000000;
    padding: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f0f00bb;
}
.form-control{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fondo-registrarse{
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #251f19;
}


@media only screen and (min-width: 576px) and (max-width: 1280px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (min-width: 380px) and (max-width: 575px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgb(34, 17, 17);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(22, 22, 22);
    }
    #check:checked ~ ul{
        left:0;
    }
}
